body {
    background-color:powderblue}

#FU{
    font-size:25px;
    position:fixed;
    bottom:80px;
    left:380px;
    background-color:orange;
    width: 300;
    padding: 50px 50px 300px 50px;
    border-style:solid;
    border-color:white;
    border-width: 20px;
    border-radius:25px;
}

#FL{
    font-size:25px;
    position:fixed;
    bottom:275px;
    left:450px;
}

input{
    font-size:large;
    position:fixed;
    height: 34px;
    width: 275px;
    bottom:350px;
    left: 475px;
    border-radius: 8px;
    border-width:2px;
    border-color:gray
}

#input2{
    font-size:large;
    position:fixed;
    height: 34px;
    width: 275px;
    bottom:225px;
    left: 475px;
    border-radius: 8px;
    border-width:2px;
    border-color:gray
}

#FAILSAFE {
    font-size:25px;
    position:fixed;
    bottom:150px;
    left:450px;
}

#körknapp {
    position:fixed;
    height:40px;
    width:100px;
    bottom:130px;
    left:45%;
    border-width: 2px;
    border-color:gray;
    background-color: aquamarine;
    border-radius:8px;
}

.tre{
    position: fixed;
    height:40px;
    width:100px;
    bottom:130px;
    left:45%;
}