body {
    background-image: url(Images/Billiardtextur.jpg);
    color: white;
}

#cards{
    position: fixed;
    left: 37.2%;
    top: 22%;
    font-size:80%; 

}

#cardstacks{
    position: fixed;
    top: 28%;
    font-size:80%;
    left: 37.2%;

}

#fartL{
    opacity: 70%;
}
#shufflespeed{
    position: fixed;
    top: 34%;
    font-size:80%;
    left: 40.2%;
}

#settings{
    position: fixed;
    top: 20%;
    left: 31.2%;
    width: 27%;
    height: 27%;
    
}

#cardinput{
    position: fixed;
    font-size: 100%;
    width: 7%;
    left: 55%;
    border-radius: 8px;
    border-width:2px;
    border-color:gray
}

#cardstackinput{
    position: fixed;
    font-size:100%;
    width: 7%;
    left: 55%;
    border-radius: 8px;
    border-width:2px;
    border-color:gray
}


.fart{
    right: 30%;
    font-size: 75%;
    border-color:gray;
    border-radius:8px;
    border-width: 2px;
}


#FAILSAFE {
    font-size:25px;
    position:fixed;
    bottom:52%;
    left:38.8%;
}

#runbutton {
    position:fixed;
    top: 48%;
    left: 48%;
    height:4%;
    width:6%;
    background-color: white;
}

.parent {
    display: flex;
}

.spacer {
    width: 10%;
}

.middlecolumn {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
    width: 80%;
  }
