.body {
  background-color: white;
} 
.Parent {
  display: flex;
  flex-direction: row;
}

.spacer {
  width: 10%;
}
.middlecol {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  width: 80%;
  height: 100vh;
  background-color: beige;
  border-radius: 30px;
  border: black solid 3px;
  color: black;
}
